.sidebar-layout {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 98px 42px 98px 20px;
    gap: 10px;

    width: 250px;
    height: 1232px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}