.topnav-layout {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 7px 20px;
    gap: 10px;

    /* position: absolute; */
    /* width: 0px; */
    height: 40px;
    left: 0px;
    top: 0px;
    background: #181F26;
}

.topnav-sitename {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 9px;
    /* gap: 10px; */

    width: 98px;
    height: 25px;
    /* left: 12px; */
    /* top: 7px; */

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    /* Featured */
    background: #9D174D;
    border-radius: 7px;
}

.topnav-sitename-font {
    /* position: absolute; */
    width: 90px;
    height: 20px;
    padding-left: 5px;
    padding-top: 5px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
}